:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

body {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  cursor: pointer;
  transition: transform 300ms ease;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.imgBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.imgBtn img {
  height: 60px;
}

.btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-left: 8px;
  border-radius: 4px;
  padding: 10px;
  transition: transform 300ms ease;
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.result {
  list-style-type: none;
  height: 60%;
  width: 60%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
}

.item__thumbnail {
  height: 50px;
  margin-right: 20px;
}
